.home{padding-bottom:16px}.home__pagination{display:flex;justify-content:center}.Pagianation .Page{width:36px;height:36px;font-size:16px}hr.gap{background-color:#38444d;padding:4px 0;margin:0;border:none}
